<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="/"><span style="color:yellow;">Tillhör Peñarol</span></a></h1>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
					<li><a href="#" accesskey="2" title="">Our Supporters</a></li>
					<li><a href="#" accesskey="3" title="">About Us</a></li>
					<li><a href="#" accesskey="4" title="">Careers</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="page" class="container">
		<!--<span><img src="http://http://www.xn--pearol-xwa.org/plantillas/temas/default/img/cabez_new.png"></span>-->
		<div class="title">
			<td><h2>Club Atlético Peñarol</h2></td><td><a href="//tillhörpeñarol.tk/images/5005390018263.png"><img src="images/5005390018263.png"></a></td>
			<h3>Página del repositorio <a href="https://github.com/abuseombudsman/tillh-r"><strong>tillh-r</strong></a> en Github</h3>
			<p><h3>Repositorio de Peñarol dedicado a unificar los tags (léase schema.org) de los emblemas y el nombre como empresa registrada del Club Atlético Peñarol, asimismo como el alcance y envergadura del paraguas Peñarol, como base y resguardo de todos sus hinchas y socios a lo largo de los 4 puntos cardinales del planeta. Esto último entiendase no solo en el sentido de ser una carga más económica para la institución sino ver el poderío potencial que esto representa como lo de tener una embajada carbonera en todos los países de este "planeta". Ver <a href="https://github.com/abuseombudsman/tillh-r">README</a> inicial del repositorio.</h3></p>
		</div>
		<p><h3>El Club Atlético Peñarol surge de la unión de los colores amarillo y negro, del impulso que obreros del AFE trataban de dar al Estado y la Sociedad
en pos de un camino solidario más justo e Socialista que nunca LLEGARON A VER. La Cruz del AFE en el pecho fué el origen y como la ilusión de un estado más justo solidario
e Socialista se desvanecía (Escuché todos hablan de Reforma y Socialismo pero la verdad es que nunca cambia nada) y mi corazón quedo roto en mil pedasos
entonces la popular decidió alegrarles la vida, viajando hasta Montevideo, cambiando el nombre de CURCC por Peñarol y dibujando en la
camiseta el origen del Cosmos, la Constante más vieja de Eternidad, las dos polaridades del Cosmos. Una Constante Velocidad de un tiempo de sombritas. Una Constante Velocidad
de un tiempo de Luz.</h3></p>
					
	</div>
	</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<center><div id="tbox1">
			<div class="title">
				<h3>Copa Coca Cola</h3>
			</div>
			<p>El Club Atlético Peñarol disputa la Copa Coca Cola, el torneo uruguayo de primera división</p>
			<div id="fifa widget">
				<object  width='300' height='600' id='flashWorldLeagues' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
					<param name='movie' value='http://www.fifa.com/flash/widgets/worldmatchcentre/app.swf?leagueCode=uru&lang=e'/>
					<param name='bgcolor' value='yellow'/>
					<param name='quality' value='high'/>
					<param name='wmode' value='transparent'/>
					<param name='flashvars' value='lang=e&leagueCode=uru'>
					<embed width='300' height='400' flashvars='lang=e&amp;leagueCode=uru' quality='transparent' value='high' bgcolor='transparent;' name='flashWorldLeagues' id='flashWorldLeagues' src=http://www.fifa.com/flash/widgets/worldmatchcentre/app.swf?leagueCode=uru&lang=e type='application/x-shockwave-flash'/>
				</object>
			</div>
			<a href="#" class="button">Ampliar</a> </div></center>
		<div id="tbox2">
			<div class="title">
				<h3>Ranking FIFA/COCA-COLA</h3>
			</div>
			<p>El ranking de la FIFA y COCA COLA muestra la posición de la Selección Uruguaya de Fútbol en el mundo FIFA</p>
			<div id="fifa widget">
				<object  width='300' height='400' id='flashWorldRanking' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
					<param name='movie' value='http://www.fifa.com/flash/widgets/worldranking/app.swf?teamId=uru&lang=en'/>
					<param name='bgcolor' value='#ffffff'/>
					<param name='quality' value='high'/>
					<param name='wmode' value='transparent'/>
					<param name='flashvars' value='lang=en&team=uru'>
					<embed width='300' height='400' flashvars='lang=en&amp;team=uru' quality='transparent' value='high;' bgcolor='transparent;' name='flashWorldRanking' id='flashWorldRanking' src=http://www.fifa.com/flash/widgets/worldranking/app.swf?teamId=uru&lang=en type='application/x-shockwave-flash'/>
				</object>
			</div>
			<a href="//fifa.com" class="button">Ampliar</a> </div>
			
		<div id="tbox3">
			<div class="title">
				<h3>Últimas Noticias FIFA</h3>
			</div>
			<p>Las últimas noticias de fútbol mundial actualizadas diariamente por el centro de información FIFA.</p>
			<div id="fifa widget">
				<object  width='300' height='400' id='flashLatestNews' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
					<param name='movie' value='http://www.fifa.com/flash/widgets/newsreader/app.swf?lang='en'/>
					<param name='bgcolor' value='#ffffff'/>
					<param name='quality' value='high'/>
					<param name='wmode' value='transparent'/>
					<param name='flashvars' value='lang=en'>
					<embed width='300' height='400' flashvars='lang=en' wmode='#transparent' quality='high' bgcolor='#transparent' name='flashLatestNews' id='flashLatestNews' src=http://www.fifa.com/flash/widgets/newsreader/app.swf?lang='en type='application/x-shockwave-flash'/>
			</object>
			</div>
			<a href="//fifa.com" class="button">Ampliar</a> </div>
	</div>
	<center>
		<h3><p><span>tema: <span style="color:orange;">Nota Do</span> grupo:<span style="color:orange;"> Ice T</span>  categoría:<span style="color:orange;"> Hardcore;</span></span></p></h3>
		<audio controls="controls" preload="auto" audio.volume="0.2" loop=""autoplay="";>
			<source src="09 C Note.mp3" type="audio/mp3">
			<em>Sorry, your browser doesn't support HTML5 audio.</em>
		</audio><br>
		<center><iframe width="854" height="480" src="https://www.youtube.com/embed/zuI_KS-dapM" frameborder="0" autoplay allowfullscreen></iframe></center>
	</center>
	<span>
		<script>
			console.log(Date.now())
		</script>
	</span>
	<!--<div id="portfolio" class="container">
		<div class="column1">
			<div class="box"> <a href="#"><img src="images/scr01.jpg" alt="" class="image image-full" /></a>
				<h3>Vestibulum venenatis</h3>
				<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column2">
			<div class="box"> <a href="#"><img src="images/scr02.jpg" alt="" class="image image-full" /></a>
				<h3>Praesent scelerisque</h3>
				<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column3">
			<div class="box"> <a href="#"><img src="images/scr03.jpg" alt="" class="image image-full" /></a>
				<h3>Donec dictum metus</h3>
				<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column4">
			<div class="box"> <a href="#"><img src="images/scr04.jpg" alt="" class="image image-full" /></a>
				<h3>Mauris vulputate dolor</h3>
				<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
	</div>-->
</div>
<div id="copyright" class="container">
	<p>&copy; <a href="http://tillhörpeñarol.tk">Tillhör Peñarol</a>. Todos los Derechos Reservados. | Fotos de <a href="https://images.google.com/">Google Images</a> | Diseñado por  <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		<ul class="contact">
			<li><a href="#" class="icon icon-twitter"><span style="border-radius:2px;">Twitter</span></a></li>
			<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
			<li><a href="#" class="icon icon-google-plus"><span>Google</span></a></li>
			<li><a href="#" class="icon icon-github"><span>Github</span></a></li>
			<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
		</ul>
</div>
</body>